
body{
    max-width: 940px;
    margin: auto;
}

nav{
    font: 15px Stencil;
    position: absolute;
    width:940px;
    background-color: black;
}

nav ul{
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

nav li{
    float: left;
}

nav ul li a{
    display: block;
    margin-right: 20px;
    width:140px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover{
    color: white;
}

#content{
    padding-top: 60px;
    display: table;
    background-color: antiquewhite;
}

#blogPost{
    display: table-cell;
    text-align: justify;
    width: 610px;
    padding: 20px;
    padding-top: 10px;
    column-count: 2;
    border: 1px solid white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

#blogPost header{
    text-align: center;
}

#blogPost img{
    margin-top: 20px;
    width: 100%;
}

aside{
    display: table-cell;
    width: 300px;
    padding: 20px;
    padding-top: 10px;
    background-color: #c9c9c9;
}

#comments header{
    text-align: center;
}
#comments article{
    margin: 20px;
    width: 580px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    background-color: darkkhaki;
    border: 1px solid #d7d7d7;
    padding: 20px;
}

#comments article header{
    padding-right: 20px;
    display: table-cell;
    width: 100px;
}

#comments article p{
    padding-left: 20px;
    display: table-cell;
}

#references{
    padding: 5px;
    background-color: #c9c9c9;
}

footer{
    background-color: black;
    font: 15px "Bookman Old Style";
    line-height: 44px;
    padding-right: 20px;
    text-align: right;
    color: white;
}
